Import libraries -- may need to revisit to remove unused ones

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import re

<div class="span4 alert alert-success">
** QUESTION HERE***


HERE I read the file. But when I work on the DF manupulation sometimes I make a mistake, and as we all know creating duplicate dfs don't work because if you change one all will change.

What do you recommend here? How do I back-up? Do I go all the way to the beginning? Do I write a csv file?

</div>

In [6]:
df=pd.read_csv("autos.csv",  encoding='cp1252'  )
#df1=pd.read_csv("autos.csv",  encoding='cp1252'  )
#df2=pd.read_csv("autos.csv",  encoding='cp1252'  )
#df3=pd.read_csv("autos.csv",  encoding='cp1252'  )
#df4=pd.read_csv("autos.csv",  encoding='cp1252'  )
df.head()
df.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'kilometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [7]:
df.name=df.name.str.replace("_", " ")
df.seller.unique()
df.seller[df.seller=="privat"] = "private"
df.seller[df.seller=="gewerblich"] = "dealer"

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [8]:
namecol=df.name.str.split(" ")
#namecol.pop(0)
liste
[]
#namecol.apply(brnd for brnd in liste for row in namecol for elmnt in row if brnd in elmnt )
namecol=namecol[:100]

NameError: name 'liste' is not defined

In [10]:
namecol2=df.name[:600]
namecol2

0                                             Golf 3 1.6
1                                   A5 Sportback 2.7 Tdi
2                         Jeep Grand Cherokee "Overland"
3                                     GOLF 4 1 4  3TÜRER
4                         Skoda Fabia 1.4 TDI PD Classic
5      BMW 316i   e36 Limousine   Bastlerfahrzeug  Ex...
6                            Peugeot 206 CC 110 Platinum
7                           VW Derby Bj 80  Scheunenfund
8                   Ford C   Max Titanium 1 0 L EcoBoost
9      VW Golf 4 5 tuerig zu verkaufen mit Anhaengerk...
10                                     Mazda 3 1.6 Sport
11         Volkswagen Passat Variant 2.0 TDI Comfortline
12                     VW Passat Facelift 35i  "7Sitzer"
13                        VW PASSAT 1.9 TDI 131 PS LEDER
14     Nissan Navara 2.5DPF SE4x4 Klima Sitzheizg Blu...
15                          KA Lufthansa Edition 450€ VB
16                                           Polo 6n 1 4
17                           Renault Twingo 1.2 16V Aut.
18                      Ford C MAX 2.0 TDCi DPF Titanium
19                     Mercedes Benz A 160 Classic Klima
20                     Volkswagen Scirocco 1.4 TSI Sport
21     BMW 530i TÜV 7/17 Scheckheftgepflegt sehr gute...
22                         Opel Meriva 1.Hand TÜV 3.2018
23                                          Stadtflitzer
24                            MERCEDES 200E  TÜV 04/2016
25                 BMW 530d touring Vollausstattung NAVI
26                             Citroen C4 Grand Picasso.
27                        Honda Civic 1.4 i VTEC Comfort
28                                  Volkswagen T3 andere
29                                        Fiat Punto 1.2
                             ...
570                            Opel Corsa 1.3 CDTI Style
571                                     Hyundai Santa Fe
572    Volkswagen Fox 1.2 Tuev NEU 8 fach bereit Klim...
573           VW GOLF 2 zum Wiederaufbau oder Schlachten
574    Audi A3 2.0 TDI Sportback DPF quattro S line S...
575                              Touran 2.0 TDI Highline
576                            Mercedes Benz E 220 T CDI
577                                 Trabant zu verkaufen
578    Mercedes Benz C 200 CDI DPF BlueEFFICIENCY Ele...
579                     Volkswagen Passat Variant 1.8 5V
580                                      Volkswagen Lupo
581                             BMW 520i touring TÜV Neu
582                                   Mercedes Benz C180
583            Volkswagen Touran 1.6 TDI DPF Comfortline
584                  Getz Schnaeppchen 2150€ TÜV 08/2017
585    Audi TT 1 8T Klima Leder Bose kompl. repariert...
586           Mercedes benz c 200 vollausstattung 2 Hand
587                                        Mini cooper s
588                      Saab 9 5 Troll Hirsch 2.3t Aero
589                       Seat  leon cupra r auch tausch
590    Mini Cooper Chili Panorama Teilleder Flame Spo...
591                                             BMW 328i
592                                  Volkswagen Golf III
593                            Auto shon TÜV mit 04 2017
594    Opel Corsa SWING   JOY Benziner mit Erdgas Anlage
595                                      Volkswagen Lupo
596                              Opel Zafira 1.6 Comfort
597                        Mazda 626 2.0 Touring Edition
598              Fiat Punto mit neuen TÜV bis Maerz 2018
599                                        BMW 530d Aut.
Name: name, Length: 600, dtype: object

In [252]:
def namecol_list_old(nm,lst):
    results=[]
    for row in nm: 
        #print(row)
        for elmnt in row: 
            #print(elmnt)
            if elmnt in lst and elmnt.isalpha()==True  : 
                results.append(elmnt)
                
                break
            else: 
                 if (row[0] != row[-1]) and (elmnt==row[-1]):# elmnt.isalpha()==True  
                    results.append("NaN")
                #break
           
  
    return (results)

In [1]:
def namecol_list(nm,lst):
    results=[]
    #nm.split(" ")
    
    for row in nm:
        if "" in row:
            row.remove("")
        #print(row)
        found=False
        for elmnt in row: 
            #if elmnt.isalpha==True:
            #print(elmnt)
                for brnd in lst:


                     if found!=True and brnd == elmnt: 
                        results.append(elmnt)
                        #print(elmnt, "zzzzzzzzzzzzz")
                        found=True
                        break
                        #break  #except:
                     else: 
                            if found==False and elmnt==row[-1] and brnd==lst[-1]: 
                                #print ("ccccccccccccc", elmnt,"son eleman",row[-1], "son araba marka", brnd,lst[-1])
                                results.append("NaN")
                                #print(elmnt + "wwwwwwwwww")
                                found=True
                                break

# break may only occur syntactically nested in a for or while loop, but not nested in a function or class 
# definition within that loop.

# It terminates the nearest enclosing loop, skipping the optional else clause if the loop has one.

# If a for loop is terminated by break, the loop control target keeps its current value.

# When break passes control out of a try statement with a finally clause, 
# that finally clause is executed before really leaving the loop.           
  
    return (results)

In [340]:
new_col = namecol_list(df.name.str.split(" "),liste)
#len(new_col)-df.name[df.name.isnull()==False].count()
#liste.append("BMW")

AttributeError: 'Series' object has no attribute 'split'

In [65]:
#namecol1.str.rstrip("")
#namecol1.str.replace("","a")
#namecol1=namecol1.str.join(' ')
#namecol_list(namecol1,liste)
#namecol1=namecol1.str.split(" ")
#namecol1[402].remove("")
#namecol1#.remove("")

#namecol2=df.name[:10000].str.split(" ")
#namecol2=namecol1[:]
#ccc=namecol_list(namecol2,models)
#aaa
#len(aaa)
#aaa#namecol2
df["new_models"]=namecol_list(df.name.str.split(" "),models)
#len(bbb)-len(df.name)
#namecol2.drop_duplicates(keep="first")
#namecol2
len(ccc)

10000

In [66]:
df=df[sorted(df.columns)]
#df[df.brand.isna()==True]
#df.name=df.name.str.capitalize()
df

,abtest,brand,dateCrawled,fuelType,gearbox,kilometer,model,monthOfRegistration,name,new_models,new_names,notRepairedDamage,powerPS,price,seller,vehicleType,yearOfRegistration
0,test,volkswagen,2016-03-24 11:52:17,benzin,manuell,150000,golf,0,Golf 3 1.6,Golf,NaN,NaN,0,480,private,NaN,1993
1,test,audi,2016-03-24 10:58:45,diesel,manuell,125000,NaN,5,A5 sportback 2.7 tdi,A5,NaN,ja,190,18300,private,coupe,2011
2,test,jeep,2016-03-14 12:52:21,diesel,automatik,125000,grand,8,"Jeep grand cherokee ""overland""",NaN,Jeep,NaN,163,9800,private,suv,2004
3,test,volkswagen,2016-03-17 16:54:04,benzin,manuell,150000,golf,6,Golf 4 1 4 3türer,Golf,NaN,nein,75,1500,private,kleinwagen,2001
4,test,skoda,2016-03-31 17:25:20,diesel,manuell,90000,fabia,7,Skoda fabia 1.4 tdi pd classic,NaN,Skoda,nein,69,3600,private,kleinwagen,2008
5,test,bmw,2016-04-04 17:36:23,benzin,manuell,150000,3er,10,Bmw 316i e36 limousine bastlerfahrzeug ex...,NaN,NaN,ja,102,650,private,limousine,1995
6,test,peugeot,2016-04-01 20:48:51,benzin,manuell,150000,2_reihe,8,Peugeot 206 cc 110 platinum,NaN,Peugeot,nein,109,2200,private,cabrio,2004
8,control,ford,2016-04-04 23:42:13,benzin,manuell,30000,c_max,8,Ford c max titanium 1 0 l ecoboost,NaN,Ford,NaN,125,14500,private,bus,2014
9,test,volkswagen,2016-03-17 10:53:50,NaN,manuell,150000,golf,0,Vw golf 4 5 tuerig zu verkaufen mit anhaengerk...,NaN,NaN,NaN,101,999,private,kleinwagen,1998
10,control,mazda,2016-03-26 19:54:18,benzin,manuell,150000,3_reihe,12,Mazda 3 1.6 sport,NaN,Mazda,nein,105,2000,private,limousine,2004
11,control,volkswagen,2016-04-07 10:06:22,diesel,manuell,150000,passat,12,Volkswagen passat variant 2.0 tdi comfortline,NaN,Volkswagen,ja,140,2799,private,kombi,2005
12,control,volkswagen,2016-03-15 22:49:09,benzin,manuell,150000,passat,11,"Vw passat facelift 35i ""7sitzer""",NaN,NaN,NaN,115,999,private,kombi,1995
13,control,volkswagen,2016-03-21 21:37:40,NaN,manuell,150000,passat,2,Vw passat 1.9 tdi 131 ps leder,NaN,NaN,nein,131,2500,private,kombi,2004
14,control,nissan,2016-03-21 12:57:01,diesel,manuell,70000,navara,3,Nissan navara 2.5dpf se4x4 klima sitzheizg blu...,NaN,Nissan,nein,190,17999,private,suv,2011
15,test,ford,2016-03-11 21:39:15,benzin,NaN,5000,ka,0,Ka lufthansa edition 450€ vb,Ka,NaN,NaN,0,450,private,kleinwagen,1910
16,test,volkswagen,2016-04-01 12:46:46,benzin,NaN,150000,polo,0,Polo 6n 1 4,Polo,NaN,NaN,60,300,private,NaN,2016
17,control,renault,2016-03-20 10:25:19,benzin,automatik,150000,twingo,2,Renault twingo 1.2 16v aut.,NaN,Renault,nein,75,1750,private,kleinwagen,2004
18,test,ford,2016-03-23 15:48:05,diesel,manuell,150000,c_max,6,Ford c max 2.0 tdci dpf titanium,NaN,Ford,nein,136,7550,private,bus,2007
19,test,mercedes_benz,2016-04-01 22:55:47,benzin,manuell,150000,a_klasse,1,Mercedes benz a 160 classic klima,NaN,NaN,nein,102,1850,private,bus,2004
20,control,volkswagen,2016-04-01 19:56:48,benzin,manuell,100000,scirocco,4,Volkswagen scirocco 1.4 tsi sport,NaN,Volkswagen,nein,160,10400,private,coupe,2009
21,test,bmw,2016-03-27 11:38:00,benzin,automatik,150000,5er,7,Bmw 530i tüv 7/17 scheckheftgepflegt sehr gute...,NaN,NaN,nein,231,3699,private,limousine,2002
22,test,opel,2016-03-23 14:52:51,benzin,manuell,150000,meriva,5,Opel meriva 1.hand tüv 3.2018,NaN,Opel,nein,90,2900,private,NaN,2018
23,test,seat,2016-03-12 19:43:07,benzin,manuell,150000,arosa,5,Stadtflitzer,NaN,NaN,nein,50,450,private,kleinwagen,1997
24,test,mercedes_benz,2016-03-13 20:40:49,benzin,manuell,150000,andere,10,Mercedes 200e tüv 04/2016,NaN,NaN,ja,118,500,private,limousine,1990
25,control,bmw,2016-03-18 21:44:09,diesel,automatik,150000,5er,9,Bmw 530d touring vollausstattung navi,NaN,NaN,ja,193,2500,private,kombi,2002
26,control,citroen,2016-03-10 19:38:18,NaN,manuell,125000,c4,4,Citroen c4 grand picasso.,NaN,Citroen,nein,125,5555,private,NaN,2017
27,test,honda,2016-03-07 12:51:23,benzin,manuell,60000,civic,11,Honda civic 1.4 i vtec comfort,NaN,Honda,nein,99,6900,private,limousine,2008
28,test,volkswagen,2016-03-09 11:56:38,benzin,manuell,5000,transporter,1,Volkswagen t3 andere,NaN,Volkswagen,nein,50,1990,private,bus,1981
29,test,fiat,2016-03-08 19:55:19,benzin,manuell,150000,punto,3,Fiat punto 1.2,NaN,Fiat,nein,60,690,private,kleinwagen,2003
30,test,mercedes_benz,2016-04-03 15:48:11,diesel,automatik,150000,e_klasse,1,Mercedes benz e 250 d original zustand !!,NaN,NaN,nein,113,3300,private,limousine,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371497,control,opel,2016-03-05 15:54:11,benzin,manuell,150000,astra,2,Opel astra 1.6 caravan,NaN,Opel,nein,116,4900,private,kombi,2008
371498,control,opel,2016-03-11 15:50:38,benzin,manuell,150000,vectra,3,Opel vectra edition 100,100,Opel,NaN,101,699,private,limousine,1999
371499,control,opel,2016-03-08 13:52:00,benzin,manuell,150000,corsa,1,Opel corsa b eco swing tüv 1/17 8fach bereif...,NaN,NaN,nein,54,600,private,kleinwagen,1998
371500,test,volkswagen,2016-03-21 23:40:49,benzin,automatik,30000,golf,9,Volkswagen golf 1.4 tsi bluemotion technology ...,NaN,Volkswagen,nein,150,20400,private,limousine,2014
371501,test,chrysler,2016-03-26 18:36:54,benzin,automatik,150000,voyager,7,Chrysler voyager,NaN,Chrysler,nein,174,3900,private,bus,2003
371502,test,audi,2016-04-01 12:59:21,benzin,manuell,150000,a4,2,Audi a4 avant 1.8,NaN,Audi,nein,125,1600,private,kombi,1998
371503,control,subaru,2016-04-01 01:55:58,benzin,manuell,70000,justy,11,Subaru justy 1.3,NaN,Subaru,nein,68,1700,private,kleinwagen,1999
371504,control,mercedes_benz,2016-03-07 17:06:35,NaN,automatik,150000,c_klasse,9,220 cdi benz,NaN,NaN,NaN,0,2600,private,NaN,2005
371505,test,opel,2016-04-03 19:56:57,benzin,manuell,150000,astra,11,Opel astra 1.6 caravan selection,NaN,Opel,ja,101,800,private,kombi,2000
371506,test,volkswagen,2016-03-20 18:47:59,diesel,manuell,150000,golf,9,Volkswagen golf 1.9 tdi dpf goal rentnerfzg. 1...,NaN,Volkswagen,nein,105,5900,private,limousine,2006
371507,test,audi,2016-03-16 17:06:19,diesel,manuell,150000,a4,4,Gepflegter audi a4 2.0tdi xenon ahk klima sche...,NaN,Audi,NaN,140,5999,private,kombi,2005
371508,control,opel,2016-04-02 16:43:27,benzin,manuell,150000,astra,2,Opel astra 1.8,NaN,Opel,nein,125,1400,private,limousine,2001
371509,test,volkswagen,2016-03-11 23:40:32,NaN,manuell,150000,NaN,7,Lt 35 diesel gruene plakette....letzte gelegen...,NaN,NaN,nein,110,1900,private,NaN,2000
371510,test,mercedes_benz,2016-03-06 21:11:23,diesel,automatik,150000,e_klasse,3,Mercedes benz e klasse avangarde 220 cdi grune...,NaN,NaN,nein,145,6500,private,limousine,2003
371511,control,audi,2016-03-31 18:50:37,benzin,manuell,150000,a3,12,Audi a3 1.8 t attraction,NaN,Audi,nein,150,1999,private,limousine,1997
371512,test,mercedes_benz,2016-03-25 18:48:06,diesel,automatik,150000,e_klasse,12,Mercedes benz e 400 cdi avantgarde,NaN,NaN,ja,260,5000,private,limousine,2003
371513,control,seat,2016-03-21 15:36:22,diesel,manuell,150000,leon,7,Seat leon 1.9 tdi 4/5 tueren,NaN,Seat,nein,105,4400,private,limousine,2008
371514,control,renault,2016-04-04 11:45:16,benzin,manuell,150000,megane,4,Renault 1 4 ltr.16 v megane cabrio,NaN,Renault,NaN,95,999,private,cabrio,2000
371515,test,skoda,2016-03-09 11:36:55,benzin,manuell,150000,fabia,4,Skoda fabia kombi 1.4,NaN,Skoda,NaN,55,1690,private,kombi,2004
371516,control,volkswagen,2016-04-04 09:57:12,benzin,manuell,150000,lupo,9,Volkswagen lupo 1.0,NaN,Volkswagen,nein,50,1490,private,kleinwagen,1998
371517,test,volkswagen,2016-03-28 13:48:07,diesel,manuell,150000,golf,7,Volkswagen golf 2.0 tdi dpf team,NaN,Volkswagen,nein,140,7900,private,limousine,2010
371518,test,bmw,2016-04-02 20:37:03,diesel,manuell,150000,3er,5,Bmw 320 d dpf touring !!!,NaN,Bmw,nein,3,3999,private,kombi,2005
371519,control,alfa_romeo,2016-03-09 13:37:43,NaN,automatik,150000,159,12,Alfa romeo 159 jtdm 1.9 150 ps 13 600 km top voll,159,NaN,nein,150,5250,private,NaN,2016
371520,control,seat,2016-03-19 19:53:49,benzin,manuell,150000,leon,5,Turbo defekt,NaN,NaN,ja,225,3200,private,limousine,2004
371521,control,opel,2016-03-27 20:36:20,benzin,manuell,150000,zafira,3,Opel zafira 1.6 elegance tüv 12/16,NaN,Opel,nein,0,1150,private,bus,2000
371523,test,sonstige_autos,2016-03-14 17:48:27,NaN,NaN,20000,NaN,1,Suche t4 vito ab 6 sitze,NaN,NaN,NaN,0,2200,private,NaN,2005
371524,test,smart,2016-03-05 19:56:21,benzin,automatik,125000,fortwo,3,Smart smart leistungssteigerung 100ps,NaN,Smart,nein,101,1199,private,cabrio,2000
371525,test,volkswagen,2016-03-19 18:57:12,diesel,manuell,150000,transporter,3,Volkswagen multivan t4 tdi 7dc uy2,NaN,Volkswagen,nein,102,9200,private,bus,1996
371526,test,volkswagen,2016-03-20 19:41:08,diesel,manuell,150000,golf,6,Vw golf kombi 1 9l tdi,NaN,NaN,NaN,100,3400,private,kombi,2002
371527,control,bmw,2016-03-07 19:39:19,benzin,manuell,50000,m_reihe,8,Bmw m135i vollausgestattet np 52.720 euro,NaN,NaN,nein,320,28990,private,limousine,2013

In [423]:
namecol2

410    [Smart, smart, fortwo, cabrio, pulse, micro, h...
411    [Mercedes, Benz, A, 160, BlueEFFICIENCY, Avant...
412                             [Opel, Astra, G, Cabrio]
413                       [Opel, corsa, b, tuev, 3.2018]
414                                 [Ford, Focus, Trend]
415                                [Opel, Corsa, B, AHK]
416                                   [Peugeot, 207, 75]
417                                  [Kia, Rio, 1.4, EX]
418    [Nissan, Micra, 1.2, Tuev, Neu, Maerz, 2018, O...
419    [Opel, Zafira, 1.7, CDT, AHK, Regen, Lichtsens...
Name: name, dtype: object

In [359]:
#namecol1=namecol[400:410]
#namecol1=namecol[:1000]
xx=namecol_list(namecol1,liste)
#len(xx)
#namecol1=[brnd if brnd in elmnt else "NaN" for row in namecol for elmnt in row for brnd in liste  ]
xx

['NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN']

In [355]:
len(xx)

#namecol1
xx

['NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN']


<div class="span4 alert alert-success">
Here filtering starts on top and bottom level.
Pretty easy to tell there will be no cars for 0 or "1 €", or under "100€" --- these are fake advertisements just to draw attention.
Also, there are ultra luxurious brands, and another filter was written to see and filter out cars that are not ultra luxurious but ultra pricey.

I am plannig to working on using str.split and isin method, which will look nicer. I don't know if it is really necessary.

</div>

In [25]:
#LEVEL 1
df=df.drop(columns=["offerType","postalCode","nrOfPictures","dateCreated","lastSeen"])
df=df.drop(df[df.price==0].index)
df=df.drop(df[df.price==1].index)
df=df.drop(df[df.price<=100].index)
df=df.drop(df[df.price==2147483647].index)
search=df[(df.brand.isin(["porsche","ferrari","maserati"])==False) &  (df.name.str.contains("Ferrari")==False)
          & (df.name.str.contains("Maserati")==False) & (df.name.str.contains("Porsche")==False)
          & (df.price>=2000000)]
search
df=df.drop(search.index)

In [ ]:
### LEVEL 2

#df=df.drop(columns=["offerType","postalCode","nrOfPictures","dateCreated","lastSeen"])
#df=df.drop(df[df.price==0].index)
#df=df.drop(df[df.price==1].index)
#df=df.drop(df[df.price<=100].index)
#df=df.drop(df[df.price==2147483647].index)
search=df[(df.brand.isin(["porsche","ferrari","maserati"])==False) &  (df.name.str.contains("Ferrari")==False)
          & (df.name.str.contains("Maserati")==False) & (df.name.str.contains("Porsche")==False)
          & (df.name.str.contains("Lamborghini")==False) & (df.name.str.contains("Aston Martin")==False)
          & (df.name.str.contains("Museum")==False) & (df.name.str.contains("Jaguar")==False)
          & (df.name.str.contains("Rolls Royce")==False)  & (df.name.str.contains("AMG")==False)
          &(df.name.str.contains("DeTomaso")==False) &(df.name.str.contains("BMW Z8")==False)
          &(df.name.str.contains("McLaren")==False)
          & (df.price>=200000) & (df.yearOfRegistration > 1980)]
search 
#### DİKKAT!!!df=df.drop(search.index)

In [ ]:
### LEVEL 3

#df=df.drop(columns=["offerType","postalCode","nrOfPictures","dateCreated","lastSeen"])
#df=df.drop(df[df.price==0].index)
#df=df.drop(df[df.price==1].index)
#df=df.drop(df[df.price<=100].index)
#df=df.drop(df[df.price==2147483647].index)
search=df[(df.brand.isin(["porsche","ferrari","maserati"])==False) &  (df.name.str.contains("Ferrari")==False)
          & (df.name.str.contains("Maserati")==False) & (df.name.str.contains("Porsche")==False)
          & (df.name.str.contains("Lamborghini")==False) & (df.name.str.contains("Aston Martin")==False)
          & (df.name.str.contains("Museum")==False) & (df.name.str.contains("Jaguar")==False)
          & (df.name.str.contains("Rolls Royce")==False)  & (df.name.str.contains("AMG")==False)
          &(df.name.str.contains("DeTomaso")==False) &(df.name.str.contains("BMW Z8")==False)
          &(df.name.str.contains("McLaren")==False)
          & (df.price>=100000) & (df.yearOfRegistration > 1980)]
search 
#### DİKKAT!!!df=df.drop(search.index)

In [ ]:
search=df[df.price>0.8*1e6]
###df=df.drop(search.index)
search

**** CAUTION HERE*****


<div class="span4 alert alert-success">
Here the top filtering ends, but are these the results I want?
I cleaned all fake data, but there are outliers still....Do I want them?
</div>

In [ ]:
#df.head().notRepairedDamage.isnull().sum()

#sns.scatterplot(data=np.log(df.price)*10,  alpha=0.3)
sns.scatterplot(data=df.price,  alpha=0.3)

In [ ]:
df.shape
df.columns
print(df.info())
print(df['vehicleType'].value_counts(dropna=False))

In [ ]:
#df.loc[df.price==df.price.max()]

In [ ]:
#search=df[df.price>=1500000]
#search.sort_values(by="price")

In [ ]:
#df.loc[df.price>=0.2*1e8]
#df=df.drop(df[df.price>=0.2*1e8].index)
#sns.scatterplot(data=df.price, alpha=0.3)

#df.loc[df.price>=0.9*1e7]
#df=df.drop(df[df.price>=0.9*1e7].index)
#sns.scatterplot(data=df.price, alpha=0.3)

df.loc[df.price>=1.9*1e6]
#df=df.drop(df[df.price>=0.9*1e7].index)
#sns.scatterplot(data=df.price, alpha=0.3)

In [ ]:
plt.clf()
plt.hist(df.price[df.price<1000], bins=40)

In [ ]:
df['price'].plot(kind='hist', rot=90, logx=False, logy=True)

In [ ]:
df=df.drop(df[df.price>500000].index)

In [ ]:
df[(df.brand.isin(["porsche","ferrari","maserati","smart"])==False) & (df.price<1000)]

In [ ]:
#df.brand.isin(["volkswagen","ferrari","maserati"])==False

In [ ]:
df[df.brand=="sonstige_autos"]

In [ ]:
df.name[2173].split(" ") in liste

In [ ]:
namesplit1=(df.name[371523].split(" "))
namesplit1[1]

In [ ]:
#namesplit1 in liste

for i in range (len(namesplit1)):
    if namesplit1[i] in liste:
        print(namesplit[i])
    else: print("yok")

In [ ]:
df1=df
df1

In [ ]:
df1["yedek"]=""

In [ ]:
df1

In [ ]:
df.name[(df.brand =='sonstige_autos') & (df.model.isna() == True)]

In [ ]:
df.name[2]

def namesplit(x,list,change):
    """checks if dataframe element has list element in it"""
    namesplitted = x.split(" ")
    for i in range len(namesplitted):
        if namesplitted[i] in liste:
            x.brand =

In [ ]:
(df.name[2].split(" "))[0] in (liste)

In [ ]:
brands=list(df.brand.unique().str.capitalize())

In [13]:
brands=df.brand.unique()
brands=pd.DataFrame(brands)

In [14]:
liste=list(brands[0].str.capitalize())
liste

['Volkswagen',
 'Audi',
 'Jeep',
 'Skoda',
 'Bmw',
 'Peugeot',
 'Ford',
 'Mazda',
 'Nissan',
 'Renault',
 'Mercedes_benz',
 'Opel',
 'Seat',
 'Citroen',
 'Honda',
 'Fiat',
 'Mini',
 'Smart',
 'Hyundai',
 'Sonstige_autos',
 'Alfa_romeo',
 'Subaru',
 'Volvo',
 'Mitsubishi',
 'Kia',
 'Suzuki',
 'Lancia',
 'Porsche',
 'Toyota',
 'Chevrolet',
 'Dacia',
 'Daihatsu',
 'Trabant',
 'Saab',
 'Chrysler',
 'Jaguar',
 'Daewoo',
 'Rover',
 'Land_rover',
 'Lada']

In [ ]:
type(df.name[2].split(" "))

In [ ]:
liste.remove("Sonstige_autos")

In [ ]:
liste.sort()

In [41]:
liste

['Volkswagen',
 'Audi',
 'Jeep',
 'Skoda',
 'Bmw',
 'Peugeot',
 'Ford',
 'Mazda',
 'Nissan',
 'Renault',
 'Mercedes_benz',
 'Opel',
 'Seat',
 'Citroen',
 'Honda',
 'Fiat',
 'Mini',
 'Smart',
 'Hyundai',
 'Sonstige_autos',
 'Alfa_romeo',
 'Subaru',
 'Volvo',
 'Mitsubishi',
 'Kia',
 'Suzuki',
 'Lancia',
 'Porsche',
 'Toyota',
 'Chevrolet',
 'Dacia',
 'Daihatsu',
 'Trabant',
 'Saab',
 'Chrysler',
 'Jaguar',
 'Daewoo',
 'Rover',
 'Land_rover',
 'Lada']

In [ ]:
df.name[(df.brand =='sonstige_autos') & (df.model.isna() == True)]
df=df.drop(df[(df.brand =='sonstige_autos') & (df.model.isna() == True)].index)
df=df.drop(df[(df.brand.isin(["porsche","ferrari","maserati"])==False) & (df.price>=900000)].index)


sil1=df[(df.brand.isin(["porsche","ferrari","maserati"])==False) & (df.price>=500000) & (df.yearOfRegistration>2000)]
df=df.drop(df[(df.brand.isin(["porsche","ferrari","maserati"])==False) & (df.price>=500000) & (df.yearOfRegistration>2000)].index)


sil2=df[(df.brand.isin(["porsche","ferrari","maserati"])==False) & (df.price>=200000) & (df.yearOfRegistration>1000)]
sil2

sil3=df[(df.price<1000) & (df.yearOfRegistration>2010)]
sil3

df=df.drop(df[(df.price<1000) & (df.yearOfRegistration>2010)].index)

df = df.reset_index(drop=True)
df

sil4=df[(df.price<1000) & (df.yearOfRegistration>2005)]
sil4

#One too shui fooooo
#df=df.drop(df[df.name=="One too shui fooooo"].index)

df[(df.brand.isin(["porsche","ferrari","maserati"])==False) & (df.price>=100000) & (df.yearOfRegistration>1000)]
#df.iloc[181036] ---- sil

In [ ]:
sns.scatterplot(data=df.price,  alpha=0.3)

In [ ]:
#search=df[df.price>=1500000]
#search.sort_values(by="price")
search=df[(df.brand.isin(["porsche","ferrari","maserati"])==False) & (df.price>=190000)]
search

In [ ]:
df2=df

In [ ]:
df2.head()

In [ ]:
df2.brand=df2.brand.str.capitalize()

In [ ]:
df2.head(20)

In [ ]:
df

In [ ]:
df2=df2.drop(df2[df2.model.isna()].index)

In [56]:
#df2=df2.drop(
#df2[df2.model=="grand"]
type(liste)

list

In [59]:
models=df.model.unique()
models=pd.DataFrame(models)
models.sort_values(by=0)

#models=list(models[0])
models=models[0].str.capitalize()
#print(liste)
models=list(models.dropna())
models

['Golf',
 'Grand',
 'Fabia',
 '3er',
 '2_reihe',
 'C_max',
 '3_reihe',
 'Passat',
 'Navara',
 'Ka',
 'Polo',
 'Twingo',
 'A_klasse',
 'Scirocco',
 '5er',
 'Meriva',
 'Arosa',
 'Andere',
 'C4',
 'Civic',
 'Transporter',
 'Punto',
 'E_klasse',
 'Clio',
 'Kadett',
 'Kangoo',
 'One',
 'Fortwo',
 '1er',
 'B_klasse',
 'Signum',
 'Astra',
 'A8',
 'Jetta',
 'Fiesta',
 'C_klasse',
 'Micra',
 'Vito',
 'Sprinter',
 '156',
 'Escort',
 'Forester',
 'Xc_reihe',
 'Scenic',
 'A4',
 'A1',
 'Insignia',
 'Combo',
 'Focus',
 'Tt',
 'Corsa',
 'A6',
 'Jazz',
 'Omega',
 'Slk',
 '7er',
 '80',
 '147',
 'Glk',
 '100',
 'Z_reihe',
 'Sportage',
 'Sorento',
 'V40',
 'Ibiza',
 'Mustang',
 'Eos',
 'Touran',
 'Getz',
 'A3',
 'Almera',
 'Megane',
 'Lupo',
 'R19',
 'Zafira',
 'Caddy',
 'Mondeo',
 'Cordoba',
 'Colt',
 'Impreza',
 'Vectra',
 'Berlingo',
 'M_klasse',
 'Tiguan',
 'I_reihe',
 'Espace',
 'Sharan',
 '6_reihe',
 'Panda',
 'Up',
 'Seicento',
 'Ceed',
 '5_reihe',
 'Yeti',
 'Octavia',
 'Mii',
 'Rx_reihe',
 '6er',
 'Modus',
 'Fox',
 'Matiz',
 'Beetle',
 'C1',
 'Rio',
 'Touareg',
 'Logan',
 'Spider',
 'Cuore',
 'S_max',
 'A2',
 'X_reihe',
 'A5',
 'Galaxy',
 'C3',
 'Viano',
 'S_klasse',
 '1_reihe',
 'Avensis',
 'Sl',
 'Roomster',
 'Q5',
 'Kaefer',
 'Santa',
 'Cooper',
 'Leon',
 '4_reihe',
 '500',
 'Laguna',
 'Ptcruiser',
 'Clk',
 'Primera',
 'Exeo',
 '159',
 'Transit',
 'Juke',
 'Qashqai',
 'Carisma',
 'Accord',
 'Corolla',
 'Lanos',
 'Phaeton',
 'Boxster',
 'Verso',
 'Swift',
 'Rav',
 'Kuga',
 'Picanto',
 'Kalos',
 'Superb',
 'Stilo',
 'Alhambra',
 '911',
 'M_reihe',
 'Roadster',
 'Ypsilon',
 'Cayenne',
 'Galant',
 'Justy',
 '90',
 'Sirion',
 'Crossfire',
 'Agila',
 'Duster',
 'Cr_reihe',
 'V50',
 'Mx_reihe',
 'Discovery',
 'C_reihe',
 'V_klasse',
 'Yaris',
 'C5',
 'Aygo',
 'Cc',
 'Carnival',
 'Fusion',
 'Bora',
 'Forfour',
 'Cl',
 'Tigra',
 '300c',
 'Q3',
 'Spark',
 'V70',
 'X_type',
 'Ducato',
 'S_type',
 'X_trail',
 'Toledo',
 'Altea',
 'Voyager',
 'Calibra',
 'Bravo',
 'Range_rover',
 'Antara',
 'Tucson',
 'Q7',
 'Citigo',
 'Jimny',
 'Cx_reihe',
 'Wrangler',
 'Lybra',
 'Range_rover_sport',
 'Lancer',
 'Freelander',
 'Captiva',
 'C2',
 'Range_rover_evoque',
 'Sandero',
 'Note',
 '900',
 'Defender',
 'Cherokee',
 'Clubman',
 'Samara',
 '601',
 'Legacy',
 'Pajero',
 'Auris',
 'Niva',
 'S60',
 'Nubira',
 'Vivaro',
 'G_klasse',
 'Lodgy',
 '850',
 'Serie_2',
 'Charade',
 'Croma',
 'Outlander',
 'Gl',
 'Doblo',
 'Musa',
 'Amarok',
 'Move',
 '9000',
 'V60',
 'Aveo',
 '200',
 '145',
 'B_max',
 'Delta',
 'Terios',
 'Rangerover',
 'Materia',
 'Kalina',
 'Elefantino',
 'I3',
 'Kappa',
 'Serie_3',
 'Serie_1',
 'Discovery_sport']

In [ ]:
brand_models={'Alfa_romeo', 
              'Audi':["A4","A5","A6"],  
              'Bmw', 
              'Chevrolet', 
              'Chrysler':["Grand Voyager"], 
              'Citroen', 
              'Dacia', 
              'Daewoo', 
              'Daihatsu', 
              'Fiat',
              'Ford', 
              'Honda', 
              'Hyundai', 
              'Jaguar', 
              'Jeep': ["Grand Cherokee"], 
              'Kia', 
              'Lada', 
              'Lancia', 
              'Land_rover', 
              'Mazda', 
              'Mercedes_benz', 
              'Mini', 
              'Mitsubishi', 
              'Nissan',
              'Opel', 
              'Peugeot', 
              'Porsche', 
              'Renault', 
              'Rover', 
              'Saab', 
              'Seat', 
              'Skoda', 
              'Smart', 
              'Subaru', 
              'Suzuki':["Grand Vitara"], 
              'Toyota':["Corolla", "Yaris"], 
              'Trabant':[], 
              'Volkswagen':['Golf'],
              'Volvo':[]
                 }

In [ ]:
df2.model=df2.model.str.capitalize()
df2

In [ ]:
grand_opt={'Chrysler':"Grand Voyager", 'Suzuki':"Grand Vitara",'Jeep': "Grand Cherokee"}
df4=df2

In [ ]:
def lookupCode(code):
    return grand_opt.get(code)

#df1.name.map(lookupCode)
#df1.name = df1.code.map(lookupCode)

In [ ]:
df.model=df.model.str.capitalize()
df.brand=df.brand.str.capitalize()
#df.model[df1.model=="Grand"] = 
df.model[df.model=="Grand"] = df.brand[df.model=="Grand"].map(lookupCode)

In [ ]:
df